.sidebar {
  height: calc(100% - 50px);
  margin-top: 50px;
  width: 15.3125rem;
  position: fixed;
  float: left;
  background-color: #fff;
  box-shadow: -3px 0 8px 0 #555;
}

.sidebar ul {
  list-style-type: none;
  padding: 0 20px;
}

.sidebar ul:nth-child(1) li {
  padding: 10px 0;
}

.sidebar ul:nth-child(1) li a {
  text-decoration: none;
  color: #005F95;
  font-size: 1.125rem;
  border-radius: 14px;
  padding: 15px 30px;
  display: block;
}

.sidebar ul:nth-child(1) li a i {
  width: 15px;
  margin-right: 25px;
}

.sidebar ul:nth-child(1) li a:hover {
  background-color: #8fb9d0;
  width: auto;
  border-radius: 14px;
  color: #fff;
}

.sidebar ul:nth-child(1) li a.active {
  width: auto;
  background-color: #005F95;
  color: #fff !important;
}

.sidebar ul:nth-child(2) {
  position: absolute;
  width: 100%;
  bottom: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
}

.sidebar ul:nth-child(2) li {
  padding: 10px;
  color: #005F95;
}

.sidebar ul:nth-child(2) li:hover {
  background-color: #8fb9d0;
  color: #fff;
}
.dashboard {
  margin-top: 50px;
  margin-left: 15.9375rem;
  margin-right: 0.625rem;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

.dashboard-main {
  text-align: center;
}

.dashboard-section{
  margin-left: 15.9375rem;
  text-align: center;
}

.dashboard-section h1{
  margin-top: 4.375rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}

.header-back {
  background-color: #005F95;
  position: fixed;
  z-index: 20;
  color: #fff;
  width: 100%;
}

.header-back ul {
  height: 50px;
  padding: 0 30px;
  margin: 0;
  display: -webkit-box;
  display: flex;
  text-decoration: none;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.dashboard-content{
  padding-top: 2rem;
  text-align: center;
}